
<% # <div class="row p-4"> %>
<% # <div class="col-1"> %>

<% # <%= render "filter" %>
<% # </div> %>

<div class="pl-5 pr-5">
<table class="table table-hover table-bordered table-light">
  <thead>
    <tr>
      <th scope="col">Instance_id</th>
      <th scope="col">Name</th>
      <th scope="col">Foreign Name</th>
      <th scope="col">Barcode</th>
      <th scope="col">Quantity</th>
      <th scope="col">Category</th>
      <th scope="col">Expiration Date</th>
      <th scope="col">Updated Date</th>

      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
    <td><%= product.instance_id %></td>
      <td class="text-capitalize"><%= link_to product.name, product_path(product) %></td>
      <td><%= product.foreign_name %></td>
      <td><%= product.barcode %></td>
      <td><%= product.quantity_in_total %></td>
       <td>  <%= product.category.name %></td>

       <td><%= product.expiration_date.in_time_zone("America/Chicago").strftime("%m/%d/%Y") %>
      <td><%= product.updated_at.in_time_zone("America/Chicago").strftime("%m/%d/%Y - %H:%M:%S") %></td>
<td>
<%= link_to "Edit", edit_product_path(product), class: "btn btn-outline-info text-center " %>
    <%= link_to "Delete", product_path(product), class: "btn btn-outline-danger text-center ", method: :delete, data: { confirm: "Are you sure?" } %></td></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

