


<div class="pl-2 pr-2">
<div class="d-flex justify-content-between align-items-center">
<h1 >Product Listing: <%= @products.count %></h1>
<div class="d-flex ">
<%= link_to "New product", new_product_path, class: "btn btn-outline-info mr-2" %>
<%= link_to "Back to homepage", root_path, class: "btn btn-outline-secondary" %>
</div>
</div>

<table class="table table-striped table-bordered table-light">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Foreign Name</th>
      <th scope="col">Barcode</th>
      <th scope="col">Quantity</th>
      <th scope="col">Category</th>
      <th scope="col">Vendors</th>
      <th scope="col">Expiration Date</th>
      <th scope="col">Updated Date</th>

      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
    <td><%= product.instance_id %></td>
      <td class="text-capitalize"><%= link_to product.name, product_path(product) %></td>
      <td><%= product.foreign_name %></td>
      <td><%= product.barcode %></td>
      <td><%= product.quantity_in_total %></td>
      <% if product.category %>
       <td>  <%= link_to product.category.name, category_path(product.category) %></td>
       <% else %>
        <td>no</td>
      <% end %></td>

       <% if product.vendors.any? %>
              <td><%= render product.vendors %></td> 
               <% else %>
               <td></td>
            <% end %>
       <td><%= product.expiration_date.strftime("%m/%d/%Y") %>
        <td><%= product.updated_at.in_time_zone("America/Chicago").strftime("%m/%d/%Y%H:%M:%S%P") %></td>
  <td><%= link_to "Edit", edit_product_path(product), class: "btn btn-outline-info text-center btn-sm " %>
    <%= link_to "Delete", product_path(product), class: "btn btn-outline-danger text-center btn-sm ", method: :delete, data: { confirm: "Are you sure?" } %></td></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

