
<div class="pl-2 pr-2">

<div class="d-flex justify-content-between align-items-center">
<h1>Sales</h1>
<div class="d-flex ">
<%= link_to "Import Data", new_sale_path, class: "btn btn-outline-info mr-2" %>
<%= link_to "Back to homepage", root_path, class: "btn btn-outline-secondary" %>
</div>
</div>

<div class="row">
  <% @sales.each do |sale| %>
    <div class="card text-center col-3">
  <div class="card-body">
    <h5 class="card-title"><%= sale.date %></h5>
     <p class="card-text"><%= link_to "[View data]", sale_path(sale) %></p>

<div class="d-flex justify-content-center">
<% if !sale.is_confirm %>
<%= form_with(url: sale_path(sale), method: "Patch") do %>
<%= submit_tag("Confirm", class: "btn btn-warning mr-2", data: { confirm: "Are you sure?" }) %>
  <% end %>
  <% else %>
  <button class="btn btn-secondary mr-2" disabled>Confirmed</button>
  <% end %>

<%= form_with(url: sale_path(sale), method: "Delete") do %>
<%= submit_tag("Delete", class: "btn btn-danger mr-2", data: { confirm: "Are you sure?" }) %>
<% end %>
</div>

  </div>
  </div>
<% end %>
</div>

</div>
</div>
